*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.clearfix::before,
.clearfix::after{
    content: "";
    display: table;
}
.clearfix::after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}
body{
    height: 3000px;
}

.header{
    height: 140px;
    text-align: center;
    line-height: 140px;
}
.nav{
    height: 40px;
    background-color: #01204f;

    /* 粘性定位 */
    position: sticky;
    top: 0px;
}
.w{
    /* 定宽居中 */
    width: 984px;
    margin: 0 auto;
}
ul.nav-list li{
    float: left;
}
ul.nav-list li a{
    color: #fff;
    font-weight: 700;
    font-size: 14px;

    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
ul.nav-list li a.home{
    background-color: #cc0000;
    background-image: url(http://gss0.bdstatic.com/5foIcy0a2gI2n2jgoY3K/static/fisp_static/common/img/navbar/icon-index_20aa3cd.png);
    background-repeat: no-repeat;
    background-position: 6px 7px;
    padding-left: 30px;
}
ul.nav-list li a:hover{
    background-color: #cc0000;
}