/* 初始设置 */
*{
    margin: 0;
    padding: 0;
}
a:hover {
    color: none;
  }
a {
    text-decoration: none;
  }
/* 顶部消费者业务区域 */
.xfzyw{
    width: 100%;
    height: 25px;
    background-color: black;
    font-size: 11px;
    color: white;
    text-align: left;
    padding-left: 40px;
    outline: none;
    cursor: pointer;
    border: 0;
}
.xfzyw::after{
    content: "";
    width: 6px;
    height: 6px;
    border-left: 3px solid white;
    border-top: 3px solid white;
    transform: rotate(225deg);
    position:absolute;
    top: 8px;
    left:130px;
}
.xfz-item{
    float: left;
    width: 337.75px;
    height: 81px;
    padding:0 50px;
    position: relative;
}
.xfz-item>a{
    width: 95.813px;
    height: 24px;
    font-size: 14px;
    font-weight: 500;
    color: #c3172e;
    line-height: 24px;
    margin-bottom: 8px;
    display: inline-block;
}
.xfz-item>a :hover .xfz-item>p {
    color: rgba(0,0,0,1);
}
.xfz-item>p{
    width: 337.75px;
    height: 81px;
    font-size: 14px;
    font-weight: 500;
    color: #7f7f7f;
}
.xfz-con{
    width: 100%;
    height: 120px;
    padding: 33px 0px;
    box-sizing: border-box;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    display: none;
    
}

.xfz-active::after{
    content: "";
    width: 8px;
    height: 8px;
    border-top: 2px solid #c3172e;
    border-right: 2px solid #c3172e;
    
    transform: rotate(45deg);
    position:absolute;
    top: 7px;
    left:120px;
}
/* 顶部导航栏 */
#dhl-top{
    width: 100%;
    height: 81px;
    display: flex;
    border-bottom: 1px solid #E5E5E5;
    
    /* background-color: #F5F5F5; */
}
#main-nav{
    width: 100%;
    height: 81px;
    margin-left: 180px;
}
#logo{
  display: inline-block;
  margin: 30px 40px;

}
#nav-list{
    list-style: none;
    padding-left: 20px;
    display: block;
    
}
.nav-lis{
    float: left;
    margin: 30px 20px;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}
#dhl-right{
    width: 450px;
    height: 81px;
    float: right;
    margin: 30px 85px;
    position: relative;
}
#dhl-right>i{
    width: 32px;
    height: 32px;
    margin: 0px 18px;
    cursor: pointer;
}
#dhl-right>span{
    font-size: 12px;
    line-height: 28px;
    color: #000;
    display: inline-block;
    
}
#huawei-vmall{
    border-radius: 15px;
    border: solid 2px rgba(0,0,0,0.3);
    padding: 0 24px;
    display: inline-block;
    cursor: pointer;
}
#huawei-vmall:hover{
    border: solid 2px rgba(0,0,0,1);
}
#user-dl{
    width: 220px;
    height: 150px;
    border: 1px solid #E8E8E8;
    background-color: white;
    line-height: 70px;
    padding-left: 30px;
    color: rgba(0,0,0,0.5);
    font-size:15px;
    position: absolute;
    top: 50px;
    left:-120px;
    display: none;
    z-index: 10;
}
#user:hover #user-dl{
    display: block;
}
#user-dl>span:hover{
    color: rgba(0,0,0,1);
}
hr{
   background-color:#E8E8E8;
   height:1px; 
   width: 180px;
   border:none;
}
/* .nav-lis-item{
    width: 1920px;
    height: 871px;
    position: absolute;
    top: 0;
    background-color: skyblue;
}
.nav-lis-con{
    width: 1920px;
    height: 530px;
    position: absolute;
    top: 100px;
    left:0px ;
    
} */
/* 新商品区域 */
#new-item{
    width: 1920px;
    height: 820px;
    position: relative;
    background-color:#EFEFEF ;
    background-image: url(https://consumer.huawei.com/content/dam/huawei-cbg-site/greate-china/cn/mkt/plp/phones/banner/background.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size:contain;
}
#new-item-left{
    width: 410px;
    height: 500px;
    position: absolute;
    left: 150px;
    top: 130px;
    
}
.product-new-name{
    font-weight: 800;
    font-size: 35px;
    
}
.product-new-tit{
    margin: 30px 0px;
   
}
.product-new-text{
   color: rgba(0,0,0,0.5);
   font-size: 18px;
}
.product-buttons{
    margin-top: 40px;
}
.product-buttons-more{
    margin: 20px 16px;
    padding: 10px 26px;
    background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    font-weight: 800;
    padding: 10px 26px;
    border-radius: 40px;
    border: 2px solid #000;
    outline: 0;
}
.product-buttons-buy{
    padding: 10px 26px;
    background-color: transparent;
    border: 2px solid rgba(0,0,0,0.3);
    color: #000;
    border-radius: 40px;
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    font-weight: 800;
    outline: 0;
}
#color-buttons{
    margin-top: 40px;
    position: relative;
}
.color-button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    font-size: 0;
    box-shadow: inset 0 1px 1px 0 rgb(0 0 0 / 20%);
    display: block;
    overflow: visible;
    appearance: none;
    outline: 0;
    border:0 ;
}
.color-my,.color-yb,.color-lh,.color-xrhy,.color-qrhy{
    display: inline-block;
    margin: 0px 10px;
}
.color-my>p,.color-yb>p,.color-lh>p,.color-xrhy>p,.color-qrhy>p{
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
}
#product-wall{
    width: 1920px;
    height: 820px;
    position: relative;
}
#product-wall-right{
    width: 240px;
    height: 600px;
    background-image: url(https://consumer-img.huawei.com/content/dam/huawei-cbg-site/common/mkt/plp/kv/phones/mate40-series/cn/right.png);
    background-repeat: no-repeat;
    background-size:210px 580px;
    z-index: 10;
    display: inline-block;
    position: absolute;
    top:200px ;
    left:715px;
    display: none;
}
#product-wall-silver{
    width: 240px;
    height: 600px;
    background-image: url(https://consumer-img.huawei.com/content/dam/huawei-cbg-site/common/mkt/plp/kv/phones/mate40-series/cn/silver.png);
    /* background-position: 700px -200px; */
    background-repeat: no-repeat;
    background-size:210px 580px;
    z-index: 20;
    display: inline-block;
    position: absolute;
    top:140px ;
    left:815px;
    display: none;
}
#product-wall-mate40{
    width: 240px;
    height: 600px;
    background-image: url(https://consumer-img.huawei.com/content/dam/huawei-cbg-site/common/mkt/plp/kv/phones/mate40-series/cn/mate40-pro.png);
    background-repeat: no-repeat;
    background-size:210px 580px;
    z-index: 10;
    display: inline-block;
    position: absolute;
    top:200px ;
    left:715px;
}
#product-wall-white{
    width: 240px;
    height: 600px;
    background-image: url(https://consumer-img.huawei.com/content/dam/huawei-cbg-site/common/mkt/plp/kv/phones/mate40-series/cn/white.png);
    /* background-position: 700px -200px; */
    background-repeat: no-repeat;
    background-size:210px 580px;
    z-index: 20;
    display: inline-block;
    position: absolute;
    top:140px ;
    left:815px;
}