*{
    margin: 0;
    padding: 0;
    /* 盒模型 */
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.clearfix::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    /* visibility: 可见的 */
    visibility: hidden;
}
.clearfix{
    /* IE6 7 专有 */
    *zoom: 1;
}

.pic-news{
    width: 1050px;
    margin: 20px auto;
}

.title{
    border-top: 2px solid #999;
    border-bottom: 1px solid #dee2e6;
    height: 49px;
    line-height: 46px;
    margin-bottom: 24px;
}
.title h2{
    font-size: 20px;
    color: #254282;

    background-image: url(../img/icon-mark.png);
    background-repeat: no-repeat;
    background-position: 148px 21px;
}
/* span.en 并集选择器， 找到某个标签名字为span并且类名是en */
.title h2 span.en{
    font-size: 14px;
    color: #999999;
    margin-left: 5px;
    /* 文本转换大小写 */
    text-transform: uppercase;
    font-weight: 400;
}

.pics-content li.pic-item{
   width: 187px;
   height: 165px; 

   float: left;
   margin-right: 12px;
}
.pics-content li.pic-item a{
    display: block;
}
.pics-content li.pic-item a img{
    width: 187px;
    display: block;
}
.pics-content li.pic-item a p{
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 12px;
    background-color: #f6f7f8;
    color: black;
}