*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
body{
    height: 4000px;
}
/* 导航 */
.nav{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #e0e0e0;
    z-index: 100;
}
.nav-wraper{
    width: 95%;
    margin: 0 auto;
}
.black-nav{
    height: 24px;
    background-color: black;
    color: #fff;
}
.slide-nav{
    height: 120px;
    background-color: gray;
    display: none;
}
.nav-menu{
    height: 80px;
    background-color: #d0d0d0;
}
.arrow{
    /* 注意：行标签设置旋转无效，需要改变标签性质 */
    display: inline-block;
    /* 过渡 */
    transition: all .3s;
}
.black-nav span.active{
    transform: rotate(-180deg);
}
.nav-menu ul{
    height: 80px;
}
.nav-menu li{
    float: left;
    height: 80px;
    line-height: 80px;
    margin: 0 10px;
    position: relative;
}
.nav-menu li::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    /* 初始 缩放比例为0 ，则宽度为0 */
    transform: scale(0);
    /* 加上过渡动画 */
    transition: all .3s;
}
.nav-menu li:hover::before{
    /* 鼠标悬停在li上的时候，缩放比例为1，则宽度为100% */
    transform: scale(1);
}
/* 2.横幅 */
.banner{
    width: 100%;
    background-color: lavender;
    margin-top: 104px;
    position: relative;
    overflow: hidden;
    height: 845px;
}
.banner-wrap{
    width: 100%;
    height: 845px;
    position: absolute;
    top: 0;
    transition: all .2s;
}
.banner-left{
    width: 50%;
    height: 845px;
    float: left;
    background-color: blanchedalmond;
}
.banner-right{
    width: 50%;
    height: 845px;
    float: right;
    background-color: lightpink;
}
.color-list{
    height: 20px;
    margin: 200px 0px 0 100px;
}
.color-list li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightseagreen;
    float: left;
    margin: 0 20px;
    position: relative;
}
.color-list li span{
    /* display: block; */
    opacity: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    
    border: 1px solid #d0d0d0;
    transform: scale(1);
    transition: all .3s;
}
.color-list li:hover span{
    transform: scale(1.5);
    opacity: 1;
}
.color-list li span.active{
    transform: scale(2);
    opacity: 1;
}
.color-title{
    margin-left: 100px;
    margin-top: 40px;
}
